:root {
    --main-font: 'Inter';
    --accent-font: 'PressStart2P-Regular';
    --backgroundg-color: #fff;
    --text-color: #000;
    --label-contour-color: #fff;
    --heart-color: red;
}/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
